:root p {
    color: white;
}

p {
    color: white;
    font-size: 16px;
}

body {
    background-color: black;
    padding-top: 50px;
    padding-bottom: 20px;
    color: #555;
}

h1, h2, h3, h4 {
    color: white;
}

a {
    color: firebrick;
}

a:active {
    color: white;
}

a:hover {
    color: red;
    text-decoration: none;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%
}

/* QR code generator */
#qrCode {
    margin: 15px
}

.thumbnail {
    width: 200px;
    hight: 200px;
}

.price {
    color: white;
}

.model {
    color: lightgrey;
}

.bold {
   font-weight: bold;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none
    }
}

.small {
    width: 75px;
    height: 75px;    
}

.product-container {
    padding: 2%;
    background-color: #141414;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-container p {
    margin: 0;
}

.column-title-container {
    padding: 2%;
    background-color: #1e1e1e;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.column-title-container h3 {
    margin: 0;
}

.order-info-container {
    padding: 2%;
    background-color: #141414
}

.bold {
    font-weight: bold;
}

.order-info-container h4 {
    color: white;
}

.continue {
    display: flex;
    justify-content:center;
}

h5 {

    font-size: 2em;
   
}

.box {
    display: flex;
    align-items: flex-start;
    width: 15%;
   
}

.box-small {
    display: flex;
    align-items: flex-start;
    width: 10%;

}

.box h3 {
    margin: 0;
}